body{
  background-color:#000;
}
h2, h3{
  text-align:center;
  color:#04F1D1;
}
h3{
  color:#FF4EB9;
}
.cocktail-content{
  padding-left:10%;
  padding-right:15%;
}
.cocktail{
  background-color:#454545;
  width:30%;
  display:inline-block;
  border-radius:5px;
  margin:10px 5px 10px 5px;
}
.img-content{
  width:100%;
}
.img-cocktail{
  width:100%;
}
.description{
  padding-left:10px;
  padding-right:10px;
}
p{
  color:#FFF;
  font-size:14px;
}
strong{
  color:#FA2402;
  font-size:16px;
}
.btn-order{
  width:100%;
  height:50px;
  background-color:#02A4FA;
  color:#FFF;
  border-radius:5px;
  border-color:#02A4FA;
}
.btn-order:hover{
  background-color:#FF4EB9;
  border-color:#FF4EB9;
  opacity:0.8;
  color:#000;
}
